page-problem-list {
    .list-ios .item-block .item-inner{
        border: none;
    }
    .bottom-border{
        border-bottom: 0.55px solid #c8c7cc;
      
    }
    .item-last{
        border-bottom: none !important;
    }
    .content-ios{
        background-color: #f7f7f7;
    }
    .list-ios{
        margin-bottom: 1rem;
    }
   
    .list-ios > .item-block:first-child{
        border-top: none;
    }
    .toolbar .searchbar-ios .searchbar-input{
        background-color: white;
    }
}
