<!--
  Generated template for the RechargePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

-->
<ion-header>

  <ion-navbar>
    <ion-title>手机充值</ion-title>
    <ion-buttons end>
      <button ion-button  (click)="listClick()">
        充值记录
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="myForm" novalidate>
    <ion-item no-lines>
      <ion-label floating>充值号码 仅支持广东移动</ion-label>
      <ion-input type="number" formControlName="mobile"></ion-input>
    </ion-item>
    <div class="validation-errors" padding-left>
        <div *ngFor="let validation of validation_messages.mobile">
          <ng-container>
            <div class="error-message" *ngIf="myForm.get('mobile').hasError(validation.type) && (myForm.get('mobile').dirty || myForm.get('mobile').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </div>
  </form>
  <hr>
  <div>
    <div padding>
      <ion-grid>
        <ion-row>
          <ion-col>
            充值金额
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let row of rows">
          <ion-col col-4 text-center *ngFor="let col of row">
            <div class="amount" (click)="amountSelected(col)" [ngClass]="{selected:selectedAmount==col.amount}">
              <div class="title">{{col.amount}}元</div>
              <div class="info">{{col.desc}}</div>
            </div>

          </ion-col>
          

        </ion-row>
        <ion-row>
          <ion-col>
            <div style="font-size:1.5rem;">
              <div *ngIf="selectedAmount>0"> 售价:
                <span class="charge">{{charge}}元</span>
              </div>

            </div>

          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col >

            <button ion-button block type="button" (click)="doSubmit()" class="my-button">立即充值</button>
          </ion-col>

        </ion-row>
        
        <!-- <ion-row>
          <ion-col text-center>

            点击立即充值,即表示您已经同意<span (click)="openAgreement()" class="charge">《充值活动规则》</span>
          </ion-col>

        </ion-row> -->
      </ion-grid>

    </div>
  </div>
  <div padding>
    <p>1、服务暂停时段：周五12:00至周一8:00，月底4天至月初4天;</p>
    <p>2、本服务为慢充服务，36小时内到账，不提供任何发票，每月每号码限充一次，暂仅支持广东移动;</p>
    <p>3、请保证您充值的号码为正常状态。如果处于欠费停机状态，本服务无法成功充值;</p>
  </div>
</ion-content>