<!--
  Generated template for the ReturnListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>退货管理</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="tab" mode="md">
    <ion-segment-button value="1">
      已完成
    </ion-segment-button>
    <ion-segment-button value="2">
      退货中
    </ion-segment-button>
    <ion-segment-button value="3">
      退货通知
      <ion-badge item-end *ngIf="items3.length>0">{{items3.length}}</ion-badge>
    </ion-segment-button>

  </ion-segment>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="1">
      <ion-toolbar no-border-top animated>
        <ion-searchbar placeholder="原、转单号，国家，报价，运输方式，类型，子单号" (ionInput)="searchItems($event)"></ion-searchbar>
      </ion-toolbar>
      <ion-list *ngFor="let item of items1">
        <ion-item class="bottom-border">
          <ion-label> 原单号:{{item.ReferenceNumber}}</ion-label>
          <ion-note item-end>转单号:{{item.TrackNumber}}</ion-note>
        </ion-item>
        <button ion-item class="item-last" (click)="detail(item)">
          <h3>{{item.PriceName}}</h3>
          <p>计费重:{{item.Weight}}Kg</p>
          <p>交货日期:{{item.Date}}</p>
          <ion-note item-end>￥{{item.Amount}}</ion-note>
        </button>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="scrollItems($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngSwitchCase="2" padding-top>
      <ion-list *ngFor="let item of items2">

        <button ion-item class="bottom-border">
          <ion-label>单号</ion-label>
          <ion-note item-end>{{item.ReferenceNumber}}</ion-note>
        </button>
        <ion-item>
          <ion-label>申请时间</ion-label>
          <ion-note item-end>{{item.CreateAt}}</ion-note>
        </ion-item>
        <ion-item  [class.bottom-border]="item.ApplyType==0">
          <ion-label>当前状态</ion-label>
          <ion-note item-end>{{item.Remark}}</ion-note>
        </ion-item>
        <ion-item class="item-last" *ngIf="item.ApplyType==0">
          <button ion-button item-end outline (click)="cancelApply(item)">取消申请</button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="3" padding-top>
      <ion-list *ngFor="let item of items3">

        <button ion-item class="bottom-border">
          <ion-label>单号</ion-label>
          <ion-note item-end>{{item.ReferenceNumber}}</ion-note>
        </button>
        <ion-item>
          <ion-label>通知时间</ion-label>
          <ion-note item-end>{{item.CreateAt}}</ion-note>
        </ion-item>
        <ion-item class="bottom-border">
          <ion-label>退货原因</ion-label>
          <ion-note item-end>{{item.Remark}}</ion-note>
        </ion-item>
        <ion-item class="item-last">
          <button ion-button item-end outline (click)="fill(item)">马上处理</button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>