page-bank-slips {
    .content-ios{
        background-color: #f7f7f7;
    }
    .item-ios{
        padding-left: 0;
    }
    .item-inner {
        padding-left: 16px;
    }
    .item-ios ion-thumbnail{
        padding-left: 16px;
 
    }
    .list-ios{
        margin-bottom: 8px;
    }
    .bottom-border{
        border-bottom: 0.55px solid #c8c7cc !important;
      
    }
    .toolbar-ios{
        padding: 0;
    }
}
