page-member {
    user-header{
        position: relative;
    }
    .user-title{
        position: absolute;
        top: 2rem;
        color: #ffffff;
        font-size: 2rem;
        left: 3.5rem;
    }
    #btnLogin{
        border: solid 1px white;
        top: 4rem;
        left: 3.5rem;
        color: white;
        width: 9rem;
        border-radius:10px;
        height: 2.5em;
        margin-top: 1em;
        position: absolute;
        z-index: 10;
    }
    #menu-grid ion-row.row{
        border-bottom: solid 1px #dcdcdc;
    }
    #menu-grid ion-row.row:first-child{
        border-top: solid 1px #dcdcdc;
    }
    #menu-grid ion-col.col{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-right: solid 1px #dcdcdc;
        background-color: white;
    }
    #menu-grid ion-col.col:last-child{
        border-right:none;
    }
    #menu-grid{
        padding-left: 0;
        padding-right: 0;
    }
    .menu-title{
        margin-top: 0.8rem;
    }
    .content-ios{
        background-color: #f7f7f7;
    }
   #btnPerson{
       padding: 0;
       margin: 0;
       height: 1.5rem;
       color: #d0e6fe;
   }
   #titlte{
   
    background-color: #004ea2;
}
    #info{
        background-color: #0152A8;
        color: #ffffff;
        font-size: 1.3rem;
    }
    #info .title{
     
        font-size: 2rem;
    }
    #name{
        line-height: 20px;
        color: #ffffff;
        padding-left: 1rem;
        font-size: 1.5rem;
    }
   
    ion-img{
        background: none;
    }
  
        
}
