<!--
  Generated template for the PriceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>查看报价</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <div *ngFor="let item of items"  padding-top>
      <div style="height:.5rem;"></div>
      <div  style="position:relative">
          <img src="/assets/imgs/price-1.png">
          <div class="price-title" text-warp ><h6>{{item.Name}}</h6></div>
          <div class="price-modeoftransport-name">{{item.ModeOfTransportName}}</div>
        </div>
      
  </div> -->
  <ion-list *ngFor="let item of items" inset>
    <ion-item text-wrap>
      <h4>{{item.Name}}</h4>
      <ion-note item-end>{{item.ModeOfTransportName}}</ion-note>
    </ion-item>
    <ion-item text-wrap>
      <p>生效时间</p>
      <ion-note item-end>{{item.StartDate}}</ion-note>
    </ion-item>
    <ion-item text-wrap>
      <p>失效时间</p>
      <ion-note item-end>{{item.EndDate}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="getItems($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar>

    <!-- <button ion-button full (click)="download()">下载完整报价</button> -->
    <a href="{{downloadUrl}}" ion-button full *ngIf="allowDownload" >下载完整报价</a>
  </ion-toolbar>
</ion-footer>