page-forgot-password1 {
    .my-code{
        height: 3rem !important;
      padding: 0px;
      margin: 0 !important;
       
    }
    .error-message{
        color: red;
        padding-bottom: 16px;
    }
  
}
