page-news {
    .segment-button{
        font-size: 1.5rem !important;
        color: #969696 !important;
    }
    .segment-activated{
        border-color: #004ea2 !important;
        border-bottom-width:3px !important;
        color: #444444 !important;
    }
}
