<!--
  Generated template for the RechargePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

-->
<ion-header>

  <ion-navbar>
    <ion-title>手机充值</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="myForm" novalidate>
    <ion-item no-lines>
      <ion-label floating>充值号码(移动、联通、电信)</ion-label>
      <ion-input type="text" formControlName="mobile"></ion-input>
    </ion-item>
    <div class="validation-errors" padding-left>
        <div *ngFor="let validation of validation_messages.mobile">
          <ng-container>
            <div class="error-message" *ngIf="myForm.get('mobile').hasError(validation.type) && (myForm.get('mobile').dirty || myForm.get('mobile').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </div>
  </form>
  <hr>
  <div>
    <div padding>
      <ion-grid>
        <ion-row>
          <ion-col>
            充值金额
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let row of rows">
          <ion-col col-4 text-center *ngFor="let col of row">
            <div class="amount" (click)="amountSelected(col)" [ngClass]="{selected:selectedAmount==col.amount}">
              <div class="title">{{col.amount}}元</div>
          
            </div>

          </ion-col>
          

        </ion-row>
        <ion-row>
          <ion-col>
            <div style="font-size:1.5rem;">
              <div *ngIf="selectedAmount>0"> 售价:
                <span class="charge">{{charge}}元</span>
              </div>

            </div>

          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col >

            <button ion-button block type="button" (click)="doSubmit()" class="my-button">立即充值</button>
          </ion-col>

        </ion-row>
       
      </ion-grid>

    </div>
  </div>
</ion-content>