<!--
  Generated template for the WechatPayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>微信支付</ion-title>
    <ion-buttons end>
      <button ion-button  (click)="listClick()">
          
        支付记录
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="my-head">
    <div class="total-amount">{{data?.TotalAmount}}</div>
    <div class="total-text">支付金额(元)</div>
  </div>
  <div class="my-head1" *ngIf="data?.WXPaymentCommission">
    <div class="head-col">
      <div>{{data?.Amount==""?"0":data?.Amount}}</div>
      <div>运费(元)</div>
    </div>
    <div class="head-col">
        <div>{{data?.Commission}}</div>
        <div>手续费(元)</div>
    </div>
  </div>
  
  <ion-list>
    <ion-item>
      <ion-label>支付金额</ion-label>
      <ion-input type="number" placeholder="请输入支付金额" [ngModel]="data?.Amount" (ngModelChange)="data.Amount=$event" (input)="amountChange()" [disabled]="amountInputDisable"></ion-input>
    </ion-item>
   
    <ion-item *ngIf="data?.Amount1>0">
      <ion-label>自动放货</ion-label>
      <ion-toggle [ngModel]="data?.IsRelease" (ngModelChange)="data.IsRelease=$event" ></ion-toggle>
    </ion-item>
  
    <button ion-item (click)="showDesc(0)" *ngIf="data?.Amount1>0">
     
      <ion-label>放货说明</ion-label>
    </button>
    <button ion-item (click)="showDesc(1)" *ngIf="data?.Amount1<=0">
      <ion-label>支付说明</ion-label>
    </button>
  </ion-list>
 
  <ion-list>
    <ion-item *ngIf="data?.Amount1<=0">
      <ion-label>{{allSelected?'反选':'全选'}}</ion-label>
      <ion-checkbox (ionChange)="onAllClick()" [(ngModel)]="allSelected"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let item of data?.ReceiveGoodsDetailList">
      <ion-label>{{item.ReferenceNumber}}</ion-label>
      <ion-checkbox [(ngModel)]="item.Selected" (ionChange)="selectChange()" *ngIf="data?.Amount1<=0"></ion-checkbox>
      <ion-note item-end>{{item.Amount}}元</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button full class="my-button" (click)="payClick()">支付</button>
</ion-footer>